/* common shared styles */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* header related styles */
.header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    width: 90%;
    background-image: url('../B9A1-New-Year-New-Mission-main/resources/Banner Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
}

.section {
    height: 545px;
    background: rgba(7, 2, 17, 0.5);
    border-radius: 16px;

}

.first-header-text {
    margin-bottom: 0px;
    padding: 90px 0px 0px 0px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.secnod-header-text {
    margin-top: 0px;
    padding: 50px 200px 0px 200px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.section2 {
    margin: 300px 200px;
}

.section-title {
    margin-top: 200px;
    margin-bottom: 0px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.section-description {
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.categories {
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

/* main section related style  */
.banner {
    height: 600px;
    width: 90%;
    background-image: url('../B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin-top: 900px;
    margin-left: 70px;
    display: flex;
    border-radius: 5px;
}

.text {
    background: rgba(7, 2, 17, 0.1);
}

.first-text {
    color: #FFF;
    font-size: 50px;
    font-weight: 900;
    padding: 130px 130px 0 130px;
}

.secnod-text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    padding: 0px 130px;
}

.third-text {
    color: #FFF;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 130px;
}

.banner-pic {
    padding: 100px 130px;
}

.heading {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.join-now {
    margin: 70px;
    height: 450px;
    width: 90%;
    text-align: center;
    background: rgba(255, 0, 0, 0.07);
    padding: 70px 0;
}

.primary-color {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    /* 175% */
    text-transform: capitalize;
}

.join-now-title {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join-button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* discount-section related style */
.discount-section {
    margin: 30px 70px;
    display: flex;
    align-items: center;
}

.first {
    padding: 50px;
}

.discount-img {
    display: flex;
    margin: 0 50px;
    padding: 0;
    border: 10px solid red;
    border-radius: 50%;
}

.best-offer {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.coming {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.discount-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
.what-is-section{
    background: #FFF;
    margin: 30px 70px;
}
.what-is{
    text-align: center;
    margin: 0px;
}
.rectangle-image{
    background-image: url(../B9A1-New-Year-New-Mission-main/resources/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.circle{
    margin: 0px 250px;
    padding: 50px 0 50px 100px;
}
.rectangle{
    width: 100%;
    height: 100px;
    padding-top: 0px;
}
.sale {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.holidays {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.gifts-section {
    margin: 50px;
    margin-left: 0px;
}

.gifts-section-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.gifts-section-head {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.gifts-section-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.gifts-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px 30px 70px;
    gap: 10px;
    max-width: 100%;
}

.image {
    height: 400px;
    width: 400px;
    border-radius: 16px;
}

.email-section {
    height: 600px;
    width: 90%;
    max-width: 100%;
    margin: 50px 70px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.email {
    height: 150px;
    width: 150px;
    max-width: 100%;
}

.email-title {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.email-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.searchbar {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.email-input,
.email-button {
    border: none;
}

.email-input {
    height: 70px;
    width: 300px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    margin-right: 0px;
}

.email-button {
    height: 72px;
    width: 150px;
    padding-left: 0px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* footer related style */
.footer {
    height: 600px;
    background: #070211;
    color: #fff;
}

.pic {
    height: 20px;
    width: 20px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-image {
    display: flex;
    align-items: center;
    margin: 50px;
}

hr {
    margin: 0 50px;
}

.social {
    height: 60px;
    width: 60px;
}

.social-links {
    display: flex;
    margin: 100px 550px;
    gap: 10px;
}

.last-footer {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin: 50px 70px;
}